name: HUNTECH Deploy (Bootstrap)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - "infra/**"
      - ".github/workflows/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      AWS_REGION: us-east-1
      ACCOUNT_ID: 382773571217
      ROLE_TO_ASSUME: arn:aws:iam::382773571217:role/HUNTECH-CICD
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_TO_ASSUME }}
